AIRFLOW__CORE__SIMPLE_AUTH_MANAGER_USERS=
AIRFLOW__CORE__SIMPLE_AUTH_MANAGER_PASSWORDS_FILE=/opt/airflow/scripts/airflow_pw.json
AIRFLOW__CORE__DAGS_FOLDER=/opt/airflow/dags
AIRFLOW__WEBSERVER__BASE_URL=http://airflow-web:8080
AIRFLOW__LOGGING__BASE_URL: http://airflow-web:8080
AIRFLOW__CORE__DAG_DISCOVERY_SAFE_MODE=False
AIRFLOW__SCHEDULER__ENABLE_HEALTH_CHECK=True
AIRFLOW__SCHEDULER__HEALTH_CHECK_PORT=8793
AIRFLOW__CORE__STORE_SERIALIZED_DAGS=True
AIRFLOW__CORE__EXECUTOR=CeleryExecutor
AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION=False
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=
AIRFLOW__CELERY__BROKER_URL=
AIRFLOW__CELERY__RESULT_BACKEND=